<section>
    {{> shopheader}}
</section>
<main>
    <div class="row g-5">
        <div>
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                    <li class="breadcrumb-item">
                        {{#with this}}
                            {{#if url}} 
                                <a href="{{url}}">{{name}}</a>
                                {{else}} 
                                {{name}}
                            {{/if}}
                        {{/with}}
                    </li>
                {{/each}}
            </ol> 
        </div>
        <h1>{{header}}</h1>
        {{#each sortBlock}}
            <div class="col-3">
                {{#with this}}
                    <select class="form-select form-select-sm">
                        <option selected>{{placeholder}}</option>
                        {{#each options}}
                            {{#with this}}
                                <option value="{{value}}">{{text}}</option>
                            {{/with}} 
                        {{/each}}
                    </select>
                {{/with}}
            </div>
        {{/each}}
        <div class="col-4">
            {{#with filterBlock}}
                <div class="card">
                    <div class="card-body">
                        {{#with sellers}}
                            <div>{{title}}</div>
                            {{#each list}}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label">{{value}}</label>
                                </div>
                            {{/each}}
                            <hr>
                        {{/with}}
                        {{#with brands}}
                            <div>{{title}}</div>
                            <br>
                            {{#with input}}
                                <input class="form-control" placeholder={{placeholder}}>
                            {{/with}} 
                            <br>
                            {{#each options}}
                                {{#with this}}
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">{{value}}</label>
                                    </div>
                                {{/with}} 
                            {{/each}}
                        {{/with}}
                        <hr>
                        {{#with price}}
                            <div>{{title}}</div>
                            {{#with range}}
                                <input class="form-control" placeholder={{from}}>
                                <input class="form-control" placeholder={{to}}>
                            {{/with}}
                            {{#with button}}
                                <a href="{{link}}" class="btn btn-outline-secondary">
                                    {{text}}
                                </a>
                            {{/with}}
                        {{/with}}
                        {{#each filterList}}
                            {{#with this}}
                                <div>{{title}}</div>
                                {{#each options}}
                                    {{#with this}}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                            <label class="form-check-label">{{value}}</label>
                                        </div>
                                    {{/with}} 
                                {{/each}}
                            {{/with}}
                        {{/each}}
                    </div>
                </div>
            {{/with}}
        </div>
        <div class="col-8">
            {{> catalogItem}}
        </div>
            {{#with service}}
                <div class="card text-bg-success text-center">
                    <h2 class="card-body">{{title}}</h2>
                    <div>
                        <p>{{description}}</p>
                        {{#each buttons}}
                        {{#with this}}
                            <a href="{{link}}"class="btn btn-primary">
                                {{text}}
                            </a>
                        {{/with}}
                        {{/each}}
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</main>
    <div>
        {{> shopfooter}}
    </div>